*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

button{
    border: none;
    padding: 1em;
}

header{
    padding: 12vmin 0 20px;
}

#output{
    margin-bottom: 2em;
    padding: 20px 0;
    width: 80%;
    border: 2px solid silver;
}

button[name='oper']{
    background-color: chocolate;
}

button[name='point']{
    background-color: limegreen;
}